*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfdddd;
  max-width: 550px;
  min-height: 100vh;
  margin: 0 auto;
}

/* Header */

.header {
  background-image: url(/images/header.png);
  background-color: rgba(0, 0, 0, 0.8);
  width: 550px;
  height: 208px;
  background-repeat: no-repeat;
  color: #fff;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-title {
  font-weight: bolder;

  font-size: 2.625rem;
}

.header-link {
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}

.header-link:visited {
  color: #fff;
}

.header-link:hover,
.header-link:active {
  color: #dfdddd;
}

/* FOrm */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin: -1.4em;
  z-index: 2;
}

.search-icon {
  padding: 0.625em;
  border: 2px solid gray;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  z-index: 3;
}

.submit-btn,
.search-input {
  font-size: medium;
  color: gray/700;
  padding: 0.7em 0.7em;
  border: 2px solid gray;
}

.search-input {
  border-left: none;
  border-right: none;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: gray/500;
}

.submit-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #dfdddd;
  color: #121212;
}

/* Main */

.main {
  flex: 1;
  width: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-err {
  color: #dfdddd;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.start-exploring {
  display: block;
  width: 150px;
  height: 90px;
  margin: 0 auto;
}

.listing {
  display: flex;
  gap: 1.5em;
}

.listing-container {
  padding: 0 3em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6em;
}

.listing-banner {
  width: 100px;
  height: 150px;
}

.listing-header {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.listing-title {
  color: #000;
  font-size: 1.125rem;
  font-weight: medium;
}

.listing-rating {
  display: flex;
  gap: 0.5em;
  color: #111827;
  font-size: 0.75rem;
}

/*  */

.listing-extra {
  display: flex;
  gap: 0.5em;
  color: #111827;
  font-size: 0.75rem;
}

.listing-watchlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.add-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 1em;
}

.listing-description {
  color: #6b7280;
  font-size: 0.875rem;
}

.divider {
  height: 2px;
  border: 1px solid #e5e7eb;
  width: 100%;
  margin: 1.25em 0;
}
